<header class="masthead" >
<link rel="stylesheet" type="text/css" href="../css/style.css">
<h1 class="masthead-header">
Tweetful
</h1>
  <p class="masthead-intro" >Making The Internet a Little More Thoughtful</p>
</header>

<div class="info-container">
<section class="info">  
 <header>
    <h1>Peter Lonestar</h1>
    <h2 class="header-sub">Founder</h2>
  </header>
  <p>
  Maecenos sed diam eget risus varius blandit sit amet non magna. Integer poseuer erat a ante venenatis dapibus posuere velit aliquet donec ullamcorper
  </p>
</section>

<section class="info">  
  <header>
    <h1>Bill Billerson</h1>
    <h2 class="header-sub">CFO</h2>
  </header>
  <p>
  Cras mattis consecetur purus sit amet fermentun. Donec sed odio dui. Sed posuere consectetur est at labortis.
  </p>
</section>

<section class="info">  
  <header>
    <h1>You!</h1>
    <h2 class="header-sub">CTO</h2>
  </header>
Vivamus sagitis lacus vel augue laoreet rutrum faucibus dolor auctor. Aenean lacinia bibendum nullo sed consectetur. Morbi leo riisus, porta ac
</section>
</div>


<footer>
</footer>
